@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Color */
.bg-primary {
  background: #0F172A;
}

.bg-secondary {
  background: #1E293B;
}

.bg-accent {
  background: #7477FF;
}

.text-accent {
  color: #7477FF;
}

/* Nav */
header a, header nav {
  padding: 2% 2% 0 2%;
}

nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  color: #7477FF;
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}

/* Hero */

h1 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 1.5 !important
}

/* About */

.about-img img {
  width: 20%;
  background: #fff;
  border-radius: 50%;
}

/* Portfolio */

.port-img img {
  width: 100%;
}

/* Publications */

.pub-links a {
  font-size: 1.3rem;
}
.pub-links a:hover {
  color: #ccc;
}

.subheading {
  color: #7477FF;
  justify-content: end;
}